<div
  id="add-to-cart"
  class="
    child:child:text-white child:h-[46px] child:w-full child:flex child:justify-center child:items-center
    mt-[12px]
    md:mt-0
  "
>
  {% if product.selected_or_first_available_variant.available %}
    <button
      class="bg-twingreen"
      onclick="
        let formData = {
        'items': [{
        	'id': {{product.selected_or_first_available_variant.id}},
        	'quantity': 1,
        	}]
        };

        document.querySelector('cart-drawer').addObjectToCart(formData);
      "
    >
  <p class="">Add to Cart{%unless product.options.first == "Amounts"%} -  {{ product.price | money | replace: '.00', '' }}{%endunless%}</p>
    </button>
  {% else %}
  {%section 'out-of-stock-button'%}
  {% endif %}

  
</div>
