
  <a   href="{{ collection.url }}" class="outer w-full bg-black text-white">
    {% comment %} Image or  collection.image whichever is set {% endcomment %}
   <p class="mx-auto my-auto">SHOP {{collection.title}}</p>
  </a>

