<a href="{{ collection.url }}">
  <div class="outer w-full">
    {% comment %} Image or  collection.image whichever is set {% endcomment %}
    {% assign new_image = collection.image | default: image %}


    <div class="aspect-w-3 aspect-h-2 z-0">
      {% render 'image', image: new_image, class: 'w-full h-full object-cover' %}
    </div>

  </div>
</a>
