<div>
  <p class="">{{ title }}</p>
  <div
    class="
      mt-[24px] flex gap-[16px]
      {% unless across %} flex-col {% endunless %}
    "
  >
    {% for link in links %}
      <a href="{{ link.url }}" class="-sm md:">{{ link.title }}</a>
    {% endfor %}
  </div>
</div>
