<div class="mt-[12px] relative">
  <search-widget class="cursor-pointer w-full  !text-twingreen ">
    <input
      type="text"
      id="search"
      class=" font-xs black rounded-none w-full    focus:outline-none"
      placeholder="Search for a product"
    >
    <button class="absolute right-0 font-xs" id="search-button">GO</button>
  </search-widget>
</div>
