<footer class="w-screen px-page py-[24px] bg-black h-screen text-white flex">
  {% comment %} <div class="flex flex-col md:flex-row justify-between">
    <div class="grid grid-cols-3 gap-[6px]  md:flex md:gap-[48px] gap-y-[30px] ">
      {% render 'link-group', title: 'Social Media', links: linklists.social.links %}

      {% render 'link-group', title: 'Information', links: linklists.footer.links %}

      {% render 'link-group', title: 'Policies', links: linklists.legal.links %}
    </div>
    <svg
      width="96"
      height="112"
      viewBox="0 0 96 112"
      fill="none"
      class="flex md:hidden w-[30px] h-min pb-[24px] pt-[64px] md:pt-0"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M95.9045 111.624L95.9045 102.253C92.3318 102.268 88.7555 102.287 85.1792 102.305L85.1773 102.305C81.5697 102.324 77.9619 102.342 74.3578 102.357L74.2619 102.358L74.2619 102.262L74.2619 9.57672L74.2619 9.48118L74.3575 9.48118L95.9045 9.48119L95.9045 0.0959488L48.0005 0.341203L0.0964891 0.586464L0.183447 9.48117L21.6426 9.48117L21.7381 9.48117L21.7381 9.57671L21.7381 102.53L21.7381 102.625L21.643 102.625C18.0396 102.64 14.4325 102.659 10.8254 102.677L10.8218 102.677C7.24551 102.696 3.6692 102.714 0.0964722 102.729L0.139943 107.176L0.183429 111.624L95.9045 111.624ZM52.9814 9.52586L53.0769 9.52586L53.0769 9.62139L53.0769 102.842L53.0769 102.938L52.9813 102.938L42.6486 102.938L42.553 102.938L42.553 102.842L42.5531 9.62139L42.5531 9.52586L42.6486 9.52586L44.4183 9.52586L44.4183 9.48118L44.5138 9.48118L50.7164 9.48118L50.812 9.48118L50.812 9.52586L52.9814 9.52586Z" fill="#FFFBF4" stroke="#FFFBF4" stroke-width="0.191072"/>
    </svg>
    <div class="flex md:items-end flex-row justify-between md:justify-normal md:flex-col  ">
      <p class="font-small">© {{ 'now' | date: '%Y' }}, T.W.I.N. (That's What I Need)</p>
      <a href="https://taw.vision" rel="noopener noreferrer" target="_blank" class="w-fit block">
        <p class="font-small w-fit  md:pt-3 text-right w-full">Site Credit</p>
      </a>
    </div>
  </div> {% endcomment %}

  <div class="w-[22.8vw] mx-auto mt-auto">
  <svg width="292" height="55" viewBox="0 0 292 55" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.966309 1.60932H12.2665V21.3307H33.0675V1.60932H44.3677V53H33.0675V30.8315H12.2665V53H0.966309V1.60932ZM67.631 32.9908L48.7734 1.60932H61.4411L73.461 21.9065L85.409 1.60932H98.0047L78.9312 33.2787V53H67.631V32.9908ZM109.936 33.1347H123.252L116.774 14.2771H116.63L109.936 33.1347ZM111.016 1.60932H122.604L141.822 53H130.09L126.203 41.5559H106.985L102.955 53H91.5826L111.016 1.60932ZM180.514 18.8835C180.322 17.588 179.89 16.4124 179.218 15.3567C178.546 14.2531 177.707 13.2934 176.699 12.4777C175.691 11.662 174.54 11.0382 173.244 10.6063C171.996 10.1265 170.677 9.88653 169.285 9.88653C166.742 9.88653 164.583 10.3904 162.808 11.398C161.032 12.3577 159.593 13.6773 158.489 15.3567C157.385 16.9882 156.57 18.8595 156.042 20.9708C155.562 23.0821 155.322 25.2654 155.322 27.5206C155.322 29.6799 155.562 31.7912 156.042 33.8545C156.57 35.8698 157.385 37.6932 158.489 39.3246C159.593 40.9561 161.032 42.2756 162.808 43.2833C164.583 44.243 166.742 44.7228 169.285 44.7228C172.74 44.7228 175.427 43.6672 177.347 41.5559C179.314 39.4446 180.514 36.6615 180.945 33.2067H191.886C191.598 36.4216 190.854 39.3246 189.655 41.9157C188.455 44.5069 186.871 46.7141 184.904 48.5375C182.937 50.3609 180.634 51.7524 177.994 52.7121C175.355 53.6718 172.452 54.1516 169.285 54.1516C165.351 54.1516 161.8 53.4798 158.633 52.1363C155.514 50.7448 152.875 48.8494 150.716 46.4502C148.556 44.051 146.901 41.244 145.749 38.0291C144.598 34.7662 144.022 31.2633 144.022 27.5206C144.022 23.6819 144.598 20.1311 145.749 16.8682C146.901 13.5573 148.556 10.6783 150.716 8.23109C152.875 5.78391 155.514 3.86456 158.633 2.47303C161.8 1.0815 165.351 0.385742 169.285 0.385742C172.116 0.385742 174.78 0.793603 177.275 1.60932C179.818 2.42505 182.073 3.62464 184.04 5.20811C186.056 6.74359 187.711 8.66294 189.007 10.9662C190.302 13.2694 191.118 15.9085 191.454 18.8835H180.514ZM212.918 32.9908L194.06 1.60932H206.728L218.748 21.9065L230.696 1.60932H243.292L224.218 33.2787V53H212.918V32.9908ZM247.61 1.60932H258.838L280.287 36.0857H280.431V1.60932H291.011V53H279.711L258.334 18.5956H258.19V53H247.61V1.60932Z" fill="white"/>
  </svg>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "default": {
    "blocks": []
  }
}
{% endschema %}
