  <a href="/" class="fixed mx-auto  left-0  right-0 top-5 z-[9999] flex w-min">
   <svg width="106" height="20" viewBox="0 0 106 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.610239 0.435999H4.69224V7.56H12.2062V0.435999H16.2882V19H12.2062V10.992H4.69224V19H0.610239V0.435999ZM24.6917 11.772L17.8797 0.435999H22.4557L26.7977 7.768L31.1137 0.435999H35.6637L28.7737 11.876V19H24.6917V11.772ZM39.9738 11.824H44.7838L42.4438 5.012H42.3918L39.9738 11.824ZM40.3638 0.435999H44.5498L51.4918 19H47.2538L45.8498 14.866H38.9078L37.4518 19H33.3438L40.3638 0.435999ZM65.4687 6.676C65.3993 6.208 65.2433 5.78333 65.0007 5.402C64.758 5.00333 64.4547 4.65667 64.0907 4.362C63.7267 4.06733 63.3107 3.842 62.8427 3.686C62.392 3.51267 61.9153 3.426 61.4127 3.426C60.494 3.426 59.714 3.608 59.0727 3.972C58.4313 4.31867 57.9113 4.79533 57.5127 5.402C57.114 5.99133 56.8193 6.66733 56.6287 7.43C56.4553 8.19267 56.3687 8.98133 56.3687 9.796C56.3687 10.576 56.4553 11.3387 56.6287 12.084C56.8193 12.812 57.114 13.4707 57.5127 14.06C57.9113 14.6493 58.4313 15.126 59.0727 15.49C59.714 15.8367 60.494 16.01 61.4127 16.01C62.6607 16.01 63.6313 15.6287 64.3247 14.866C65.0353 14.1033 65.4687 13.098 65.6247 11.85H69.5767C69.4727 13.0113 69.204 14.06 68.7707 14.996C68.3373 15.932 67.7653 16.7293 67.0547 17.388C66.344 18.0467 65.512 18.5493 64.5587 18.896C63.6053 19.2427 62.5567 19.416 61.4127 19.416C59.9913 19.416 58.7087 19.1733 57.5647 18.688C56.438 18.1853 55.4847 17.5007 54.7047 16.634C53.9247 15.7673 53.3267 14.7533 52.9107 13.592C52.4947 12.4133 52.2867 11.148 52.2867 9.796C52.2867 8.40933 52.4947 7.12667 52.9107 5.948C53.3267 4.752 53.9247 3.712 54.7047 2.828C55.4847 1.944 56.438 1.25067 57.5647 0.747999C58.7087 0.245333 59.9913 -0.00600016 61.4127 -0.00600016C62.4353 -0.00600016 63.3973 0.141333 64.2987 0.435999C65.2173 0.730666 66.032 1.164 66.7427 1.736C67.4707 2.29067 68.0687 2.984 68.5367 3.816C69.0047 4.648 69.2993 5.60133 69.4207 6.676H65.4687ZM77.1741 11.772L70.3621 0.435999H74.9381L79.2801 7.768L83.5961 0.435999H88.1461L81.2561 11.876V19H77.1741V11.772ZM89.7059 0.435999H93.7619L101.51 12.89H101.562V0.435999H105.384V19H101.302L93.5799 6.572H93.5279V19H89.7059V0.435999Z" fill="black"/>
</svg>

  </a>

<header-holder
  class="w-[464px] fixed bottom-5 left-0 right-0 mx-auto"
>
    <div id="nav-menu" class="text-white pointer-events-auto sm:px-[12px] sm:py-[8px] sm:bg-black overflow-clip">
      <div class="flex  gap-[16px]   justify-end items-center">
        <button data-drawer="shop" class="hidden sm:block">Shop</button>
        <button data-drawer="info" class="hidden sm:block">Information</button>
        <button data-drawer="search" class="hidden sm:block">Search</button>
        <button data-drawer="cart">
          <div class="sm:hidden child:!w-[12px] child:!h-[18px]">{% render 'cart-icon' %}</div>

          <p class="subheading hidden sm:block">
            Cart
            <span id="cart-item-count">
              {% unless cart.item_count == 0 %}
                ({{ cart.item_count }})
              {% endunless -%}
            </span>
          </p>
        </button>

        <button
          class="sm:hidden"
          onclick="document.querySelector('mobile-menu').setAttribute('open', 'true')"
        >
          <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="0.5" x2="15" y2="0.5" stroke="#002500"/>
            <line y1="5.5" x2="15" y2="5.5" stroke="#002500"/>
            <line y1="10.5" x2="15" y2="10.5" stroke="#002500"/>
          </svg>
        </button>
      </div>

      <!-- Drawer Sections -->
      <div id="drawer-sections">
        <div id="shop-drawer" class="drawer hidden flex flex-row gap-[12px]">
          {% render 'collection-group',
            title: 'Categories',
            collections: section.settings.nav_product_type_collections
          %}
          {% render 'collection-group', title: 'Collections', collections: section.settings.nav_collections %}
        </div>

        <div id="info-drawer" class="drawer hidden">
          {% render 'info-drawer', links: linklists.information %}
        </div>

        <div id="search-drawer" class="drawer hidden">
          {% render 'search-drawer' %}
        </div>

        <div id="cart-drawer" class="drawer hidden"></div>
      </div>
    </div>


  {% render 'mobile-menu',
    collections: section.settings.nav_collections,
    shop: section.settings.nav_product_type_collections
  %}
</header-holder>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Shop section"
    },
    {
      "info": "The list of collections to be displayed in the nav",
      "label": "Collections",
      "limit": 10,
      "type": "collection_list",
      "id": "nav_collections"
    },
    {
      "info": "The list of product type to be displayed in the nav",
      "label": "Product Type Collections",
      "limit": 10,
      "type": "collection_list",
      "id": "nav_product_type_collections"
    }
  ]
}
{% endschema %}
