{% form 'customer' %}
  <div class="my-space px-page grid grid-cols-1 md:grid-cols-12 gap-[16px] gap-y-[48px] {% if request.page_type == "product" %}bg-twingreen text-white py-[48px] {% endif %}">
    <div class="md:col-span-6 lg:col-span-5">
      <p class=" xl:w-3/4  {% if request.page_type == "product" %}{% else %}md:font-xl{% endif %}">
        {{ section.settings.newsletter_body }}
      </p>
    </div>
    <div class="md:col-start-8 lg:col-start-9 md:col-end-13">
      <div class="flex flex-row justify-between w-full border-b-[1.5px] {% if request.page_type == "product" %}border-white{%else%}border-twingreen{% endif %} pb-[8px]">
        <input
          type="email"
           name="contact[email]"
          class=" focus:outline-none  w-3/4 {% if request.page_type == "product" %}bg-twingreen !text-white placeholder:!text-white {% else %}!text-twingreen {% endif %}"
          placeholder="Enter your email address">
        <button class=" " type="submit">Submit</button>
      </div>
      {% if form.posted_successfully? %}
        <p class=" pt-[16px]">Thank you for signing up</p>
      {% else %}
        <p class=" pt-[16px]">By entering your information to TWIN you agree to our Privacy Policy.</p>
      {% endif %}
      {% if form.errors %}
      <p class=" pt-[16px]">{{ form.errors | default_errors }}</p>
      {% endif %}
    </div>
  </div>
{% endform %}

{% schema %}
  {
    "name": "Newsletter Section",
    "presets": [
      {
        "name": "Newsletter Section"
      }
    ],
    "settings": [
      {
        "info": "The text of the newsletter section",
        "label": "Newsletter text",
        "type": "text",
        "id": "newsletter_body",
        "default": "Sign up for the newsletter for 20% off your first order"
      }
    ]
  }
{% endschema %}