@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  .heading {
    font-size: 38px;
  }
}

@view-transition {
  navigation: auto;
}

.body ul {
  margin-top: 30px;
  list-style-type: circle;
  list-style-position: inside;
}

.inactive {
  @apply duration-150 opacity-40;
}

::placeholder {
  @apply !text-twingreen opacity-100;
}

/* typography */
@layer components {
  .font-xxl {
    font-family: "sofia-pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 81%; /* 71.28px */
    letter-spacing: -3.52px;
    margin-top: -12px;
  }
  .font-xs {
    font-family: "sofia-pro", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px; /* 91.667% */
    letter-spacing: -0.3px;
    margin-top: -2px;
  }
  .font-m-xxl {
    font-family: "sofia-pro", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 84%; /* 40.32px */
    letter-spacing: -1.92px;
    margin-top: -6px;
  }
  .font-m-xl {
    font-family: "sofia-pro", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 84%; /* 26.88px */
    letter-spacing: -1.28px;
    margin-top: -4px;
  }
  .font-m-md {
    font-family: "sofia-pro", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 88%; /* 19.36px */
    letter-spacing: -0.88px;
    margin-top: -3px;
  }
  .font-m-sm {
    font-family: "sofia-pro", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: -0.96px;
    margin-top: -3px;
    margin-bottom: -1px;
  }
  .font-m-xs {
    font-family: "sofia-pro", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px; /* 108.333% */
    letter-spacing: -0.72px;
    margin-top: -3px;
    margin-bottom: -1px;
  }
  .font-lg {
    font-family: "sofia-pro", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 88%;
    letter-spacing: -1.6px;
    margin-top: -6px;
  }
  .font-sm {
    font-family: "sofia-pro", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 99%; /* 17.82px */
    letter-spacing: -0.72px;
    margin-top: -4px;
    margin-bottom: -1px;
  }
  .font-md {
    font-family: "sofia-pro", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 88%; /* 31.68px */
    letter-spacing: -1.44px;
    margin-top: -6px;
  }
  .font-xxs {
    font-family: "sofia-pro", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 108.333% */
    letter-spacing: -0.72px;
    margin-top: -2px;
  }
  .font-xl {
    font-family: "sofia-pro", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 82%; /* 45.92px */
    letter-spacing: -2.24px;
    margin-top: -8px;
  }
}

.heading {
  @apply font-m-xxl sm:font-xxl;
}

/* Units */

.px-page {
  @apply px-[12px] sm:px-[24px];
}

.\!px-page {
  @apply !px-[12px] sm:!px-[24px];
}

.undo-px-page {
  @apply -mx-[12px] sm:-mx-[24px];
}

.left-page {
  @apply left-[12px] sm:left-[24px];
}

.my-space {
  @apply my-[36px] md:my-[108px];
}

/* Rest */

html {
  @apply bg-white text-twingreen;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outer {
  display: grid;
  grid-template: 1fr / 1fr;
}
.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

form {
  margin: 0px;
}

.fixed-center {
  left: 50%;
  transform: translate(-50%, 0);
}

/* Swiper */

.swiper-pagination-progressbar {
  position: static !important;
}

:root {
  --swiper-theme-color: #000 !important;
  --swiper-pagination-color: #002500;

  --swiper-pagination-progressbar-size: 2px;
  --swiper-pagination-progressbar-bg-color: none;
}

.swiper-pagination-progressbar-fill {
  transition-duration: 0.5s !important;
}

.card-page {
  width: calc((100vw - 30px - 6px) / 2) !important;
}

.switch-item {
  @apply pointer-events-none open:pointer-events-auto opacity-0 open:opacity-100 duration-500 w-full transition-opacity min-w-0;
}

.sort-item {
  @apply px-[3px] py-[4px] open:bg-twingreen open:text-white;
}

/* Article */

.article-content * {
  @apply !font-sm md:!font-md text-left !block !m-0 !text-twingreen !max-w-none !p-0 !h-auto;
  aspect-ratio: auto !important;
  background: none !important;
}

.article-content span:empty {
  display: none !important;
}

.article-content hr {
  display: none !important;
}

.article-content * {
  margin: 0px !important;
}

.shg-row > div {
  @apply !w-full;
}

.shg-row > div,
.shg-box-content,
.article-content > p {
  @apply !my-[36px] md:!my-[108px] !w-full;
}

.article-content p:not(:has(> span > img)) {
  @apply md:!w-[calc((100vw-48px-11*16px)/12*6+5*16px)];
}

.shg-image-content-wrapper {
  @apply !flex justify-center;
}

.article-content img {
  @apply !w-full md:!w-[calc((100vw-48px-11*16px)/12*6+5*16px)] !h-auto;
}

.article-content span {
  @apply !flex flex-wrap gap-x-[8px];
}

.article-content img,
.shg-image-content-wrapper,
.shogun-image-container {
  @apply !mx-auto;
}

.article-content a {
  @apply underline;
}

.article-content script {
  display: none !important;
}

.shg-rich-text > p:not(:last-child) {
  @apply !my-[32px];
}

/* Page Content */

.page-content {
  @apply text-left  !m-0 !text-twingreen !max-w-none !p-0 !h-auto grid flex-col gap-[12px] md:col-span-6 lg:col-span-7;
}

.page-content h1 {
  @apply font-m-xxl sm:font-xxl;
}
.page-content > h2 {
  @apply font-m-xl sm:font-xl;
}
.page-content > h3 {
  @apply font-m-md sm:font-md;
}

.page-content > p {
  @apply font-xs sm:font-sm;
}
.page-content > div {
  @apply font-xs sm:font-sm;
}

.page-content a {
  @apply underline hover:no-underline;
}

/* Shopify Policy */

.shopify-policy__container {
  @apply py-[86px] sm:py-[116px];
}

.shopify-policy__title {
  @apply !font-lg sm:!font-xxl;
}

.shopify-policy__body {
  @apply mt-[48px] sm:mt-[72px];
}

.shopify-policy__body > div {
  @apply flex flex-col gap-[24px];
}

.shopify-policy__body * {
  @apply font-sm;
}

.dvh-full {
  height: 100vh;
  height: 100dvh;
}

/* Restore default list styles */
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

/* Ensure nested lists retain styles */
ul ul,
ol ol,
ul ol,
ol ul {
  list-style-type: inherit;
}

/* Optionally add some spacing back */
ul,
ol {
  margin-left: 1.5em;
}

ul li::marker {
  font-size: 0.8em; /* makes the bullet smaller */
}
