@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
  navigation: auto;
}

@layer components {
  .border-secondary {
    @apply border-white/15;
  }
  .text-secondary {
    @apply text-[#A8A8A8];
  }
}

* {
  /* desktop-text */
  font-family: "Helvetica Neue";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 113%; /* 12.43px */
  text-transform: uppercase !important;
}

.body ul {
  margin-top: 30px;
  list-style-type: circle;
  list-style-position: inside;
}

.inactive {
  @apply duration-150 opacity-40;
}

::placeholder {
  @apply !text-twingreen opacity-100;
}

/* typography */

/* Units */

.px-page {
  @apply px-[12px] sm:px-[24px];
}

.\!px-page {
  @apply !px-[12px] sm:!px-[24px];
}

.undo-px-page {
  @apply -mx-[12px] sm:-mx-[24px];
}

.left-page {
  @apply left-[12px] sm:left-[24px];
}

/* Rest */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outer {
  display: grid;

  grid-template: 1fr / 1fr;
}
.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

form {
  margin: 0px;
}

.fixed-center {
  left: 50%;
  transform: translate(-50%, 0);
}

/* Swiper */

.swiper-pagination-progressbar {
  position: static !important;
}

:root {
  --swiper-theme-color: #000 !important;

  --swiper-pagination-progressbar-size: 2px;
  --swiper-pagination-progressbar-bg-color: none;
}

.swiper-pagination-progressbar-fill {
  transition-duration: 0.5s !important;
}

.card-page {
  width: calc((100vw - 30px - 6px) / 2) !important;
}

.switch-item {
  @apply pointer-events-none open:pointer-events-auto opacity-0 open:opacity-100 duration-500 w-full transition-opacity min-w-0;
}

.sort-item {
  @apply px-[3px] py-[4px] open:bg-twingreen open:text-white;
}

/* Article */

.article-content * {
  @apply text-left !block !m-0 !text-twingreen !max-w-none !p-0 !h-auto;
  aspect-ratio: auto !important;
  background: none !important;
}

.article-content span:empty {
  display: none !important;
}

.article-content hr {
  display: none !important;
}

.article-content * {
  margin: 0px !important;
}

.shg-row > div {
  @apply !w-full;
}

.shg-row > div,
.shg-box-content,
.article-content > p {
  @apply !my-[36px] md:!my-[108px] !w-full;
}

.article-content p:not(:has(> span > img)) {
  @apply md:!w-[calc((100vw-48px-11*16px)/12*6+5*16px)];
}

.shg-image-content-wrapper {
  @apply !flex justify-center;
}

.article-content img {
  @apply !w-full md:!w-[calc((100vw-48px-11*16px)/12*6+5*16px)] !h-auto;
}

.article-content span {
  @apply !flex flex-wrap gap-x-[8px];
}

.article-content img,
.shg-image-content-wrapper,
.shogun-image-container {
  @apply !mx-auto;
}

.article-content a {
  @apply underline;
}

.article-content script {
  display: none !important;
}

.shg-rich-text > p:not(:last-child) {
  @apply !my-[32px];
}

/* Page Content */

.page-content {
  @apply text-left  !m-0 !text-twingreen !max-w-none !p-0 !h-auto grid flex-col gap-[12px] md:col-span-6 lg:col-span-7;
}

.page-content > h2 {
}
.page-content > h3 {
}

.page-content > p {
}
.page-content > div {
}

.page-content a {
  @apply underline hover:no-underline;
}

/* Shopify Policy */

.shopify-policy__container {
  @apply py-[86px] sm:py-[116px];
}

.shopify-policy__body {
  @apply mt-[48px] sm:mt-[72px];
}

.shopify-policy__body > div {
  @apply flex flex-col gap-[24px];
}

.dvh-full {
  height: 100vh;
  height: 100dvh;
}

/* Restore default list styles */
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

/* Ensure nested lists retain styles */
ul ul,
ol ol,
ul ol,
ol ul {
  list-style-type: inherit;
}

/* Optionally add some spacing back */
ul,
ol {
  margin-left: 1.5em;
}

ul li::marker {
  font-size: 0.8em; /* makes the bullet smaller */
}
