<div class="flex flex-col gap-[48px] px-page">
<h1 class="font-lg sm:font-xl pt-[256px]  w-3/4"> 
  Well, this is awkward. <br><br>
  We can't seem to find the page you're looking for.
</h1>
<a href="/" class=" ">Return to the homepage</a>
</div>