<div class="password fixed w-screen dvh-full top-0 left-0 bg-white z-[9999] flex justify-center items-center px-[18px]">
  <div class="fixed w-screen flex dvh-full flex-col justify-between items-center py-[18px] pointer-events-none ">
    <div>
      {% render 'logo' | height: "36px", color: "black" %}
    </div>
    <button class="cta pointer-events-auto" onclick="
        document.getElementById('email-input').classList.toggle('hidden');
        document.getElementById('password-input').classList.toggle('hidden');
        document.getElementById('dont-span').classList.toggle('hidden');
      ">
      I
      <span id="dont-span" class="hidden">don't</span>
      have a Password
    </button>
  </div>
  {% comment %} 
      <div id="email-input">
        <newsletter-widget>
          <p id="message" class="mb-[16px] ">The store is now closed. Add your email to find out when we open.</p>
          {% form 'customer' %}
            <div class="border-b-[.5px] border-black mb-[15px] ">
              <input
                type="email"
                name="contact[email]"
                id="email"
                class="focus:!outline-none w-full !bg-white/0 !rounded-none !text-[16px] scale-[0.625] origin-left	"
                placeholder="Email"
              >
            </div>

            <button
              class="w-full  bg-black text-white h-[30px] cta"
              type="submit"
              id="subscribe"
            >
              SUBMIT
            </button>
          {% endform %}
        </newsletter-widget>
    </div> {% endcomment %}

  <div id="password-input" class="hidden w-[293.51px]">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="border-b-[.5px] border-black mb-[15px] ">
        <p id="message" class="mb-[16px] ">Enter your password for store access.</p>

        <input
          type="password"
          placeholder="Enter your password"
          name="password"
          class="focus:!outline-none w-full !bg-white/0 !rounded-none !text-[16px] scale-[0.625] origin-left	">
      </div>

      <div class="submit">
        <button class="w-full  bg-black text-white h-[30px] cta" type="submit">ENTER SITE</button>
      </div>

      <ul hidden>
        <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
      </ul>
    {% endform %}
  </div>
</div>

<script>
  // on load, disable body scroll
  document.body.style.overflow = 'hidden';

  //on leave, enable body scroll
  window.addEventListener('beforeunload', function () {
    document.body.style.overflow = 'auto';
  });
</script>